/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/supervisor/*
/docker/logs/*
/docker/onlyoffice/DocumentServer/data/*
/docker/onlyoffice/DocumentServer/db/*
/docker/onlyoffice/DocumentServer/lib/*
/docker/onlyoffice/DocumentServer/logs/*
/docker/onlyoffice/.DS_Store

/onlyoffice/DocumentServer/data/*
/onlyoffice/DocumentServer/db/*
/onlyoffice/DocumentServer/lib/*
/onlyoffice/DocumentServer/logs/*

/docker/DocumentServer/data/*
/docker/DocumentServer/db/*
/docker/DocumentServer/lib/*
/docker/DocumentServer/logs/*
/docker/pgdata/*
/php_onlyoffice/storage/
